body {
    background-color: whitesmoke;
    font-size: 12px;
    font-family: 'Open Sans', Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: black;  
    margin: 0px;
}
/*------------------------------------*\
  TABELAS
\*------------------------------------*/

table {   
    border-spacing: 0;
    empty-cells: show;
    padding-top: 0px;
    width: 100%;
}

form.list_form th, td th {
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(36,51,64,.75);
}

td {
    vertical-align: top;
    font-size: small;
}

form.list_form td, td td {
    text-align: left;
    vertical-align: baseline;
}

form.list_form tr.odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}

form.list_form tr.even_row {
    background-color: whitesmoke;
    color: #4e6a71;
}

form.createMusic th, td th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.tabelaDetail{
    width: 400px;
    border-spacing: 0;
    empty-cells: show;
    text-align: left;
}

a:link, a:visited {
    color: #045491;
    font-weight : normal;
    text-decoration: underline;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : normal;
    text-decoration : underline;
}

/*TABELA TOP10*/
form.top10 th, td th {
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    text-align: left;
    border-top-style: none;
    border-top-color: #CC9335;
    border-bottom-style: none;
    border-bottom-color: #CC9335;
    border-left-style: none;
    border-left-color: #CC9335;
    border-right-style: none;
    border-right-color: #CC9335;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #CC9335;
}
form.top10 td, td td {
    text-align: left;
    vertical-align: baseline;
    color: #4e6a71;
}
form.top10 td, td td {
    text-align: left;
    vertical-align: baseline;
    color: #4e6a71;
}


